# Visual Studio
.vs/
*.sln.ide
*.suo
*.user
*.userprefs
*.vbproj.user
*.dbmdl
*.dbproj.user

# Build Folders
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio Code
.vscode/

# Rider
.idea/
*.sln.iml

# Windows Installer files
*.msi
*.msm

# User-specific files
*.pdb
*.cache
*.mdb
*.ipch/
*.aps
*.scc
*.vspscc
*.vssscc

# Visual Studio Temporary Files
*.ncb
*.opendb
*.tlog
*.tlog.* 
*.vcxproj.user
*.vsproj.user

# ReSharper
_ReSharper*/
*.[Rr]eSharper
*.DotSettings

# NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/**

# Log files
*.log

# Backup files
*~ 
*.bak
*.swp

# .env files
.env
.env.*

# StyleCop files
StyleCopReport.xml
StyleCopCache.xml

# Other
Thumbs.db
ehthumbs.db
Desktop.ini
/.env
